[submodule "thirdparty-bundle/unimpaired"]
	path = thirdparty-bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "thirdparty-bundle/inccomplete"]
	path = thirdparty-bundle/inccomplete
	url = https://github.com/xaizek/vim-inccomplete.git
[submodule "thirdparty-bundle/latex"]
	path = thirdparty-bundle/latex
  url = https://github.com/vim-latex/vim-latex
[submodule "thirdparty-bundle/fugitive"]
	path = thirdparty-bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "thirdparty-bundle/easymotion"]
	path = thirdparty-bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "thirdparty-bundle/comments"]
	path = thirdparty-bundle/comments
	url = https://github.com/vim-scripts/comments.vim.git
[submodule "thirdparty-bundle/conque-shell"]
	path = thirdparty-bundle/conque-shell
	url = https://github.com/oplatek/Conque-Shell.git
[submodule "thirdparty-bundle/matchit"]
	path = thirdparty-bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "thirdparty-bundle/nerdtree"]
	path = thirdparty-bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "thirdparty-bundle/python-syntax"]
	path = thirdparty-bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "thirdparty-bundle/synmark"]
	path = thirdparty-bundle/synmark
	url = https://github.com/vim-scripts/synmark.vim.git
[submodule "thirdparty-bundle/abolish"]
	path = thirdparty-bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "thirdparty-bundle/dispatch"]
	path = thirdparty-bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "thirdparty-bundle/pathogen"]
	path = thirdparty-bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "thirdparty-bundle/c"]
	path = thirdparty-bundle/c
	url = https://github.com/vim-scripts/c.vim.git
[submodule "thirdparty-bundle/phd"]
	path = thirdparty-bundle/phd
	url = https://github.com/vim-scripts/phd.git
[submodule "thirdparty-bundle/goldenview"]
	path = thirdparty-bundle/goldenview
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "thirdparty-bundle/gruvbox"]
	path = thirdparty-bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "thirdparty-bundle/syntastic"]
	path = thirdparty-bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-plugins"]
	path = vim-plugins
	url = https://github.com/WolfgangMehner/vim-plugins.git
[submodule "thirdparty-bundle/vim-plugins"]
	path = thirdparty-bundle/vim-plugins
	url = https://github.com/WolfgangMehner/vim-plugins.git
[submodule "cscope.vim"]
	path = cscope.vim
	url = https://github.com/brookhong/cscope.vim.git
[submodule "thirdparty-bundle/cscope.vim"]
	path = thirdparty-bundle/cscope.vim
	url = https://github.com/brookhong/cscope.vim.git
